<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
   <Section Name="Logging:LogLevel">
      <Parameter Name="Default" Value="Value1"/>
      <Parameter Name="System" Value="Value1"/>
      <Parameter Name="Microsoft" Value="Value1"/>
      <Parameter Name="Microsoft.AspNetCore.SignalR" Value="Value1" />
      <Parameter Name="Microsoft.AspNetCore.Http.Connections" Value="Value1" />
   </Section>
   <Section Name="ServiceDb">
      <Parameter Name="ConnectionString" Value="Value1"/>
      <Parameter Name="DatabaseName" Value="Value1"/>
   </Section>
   <Section Name="MasterDataDb">
      <Parameter Name="ConnectionString" Value="Value1"/>
   </Section>
   <Section Name="Azure:SignalR">
      <Parameter Name="ConnectionString" Value="Value1"/>
   </Section>
</Settings>
