<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
   <Section Name="Logging">
      <Parameter Name="LogLevel:Default" Value="Value1"/>
      <Parameter Name="LogLevel:System" Value="Value1"/>
      <Parameter Name="LogLevel:Microsoft" Value="Value1"/>
   </Section>
   <Section Name="ServiceDb">
      <Parameter Name="ConnectionString" Value="Value1"/>
      <Parameter Name="DatabaseName" Value="Value1"/>
   </Section>
   <Section Name="MasterDataDb">
      <Parameter Name="ConnectionString" Value="Value1"/>
   </Section>
</Settings>
